# {{repoName}}

_Owned by: **{{repoTeam.name}}**_

## Description

{{repoDescription}}

### Topics

{% if repoTopics -%}
{% for topic in repoTopics -%}
- {{ topic }}
{% endfor %}
{% else %}
No topics are assigned to this repository.
{% endif -%}

## Owning Team

{{repoTeam.name}}

{{repoTeam.description}}
